/**********************************************************************/
/* PHP-Nuke Platinum v.7.6.b.5                           REQUIREMENTS */
/*                                                                    */
/* - PHP [http://www.php.net]                                         */
/*               Type: Necessary                                      */
/*            Version: 8.2.x or above                                 */
/*        Recommended: 8.2.3 or latest stable                         */
/*                                                                    */
/* - MariaDB [https://mariadb.org/]                                   */
/*               Type: Necessary                                      */
/*            Version: 10.3.38 or above                               */
/*        Recommended: 10.3.38 - latest stable                        */
/*                                                                    */
/* - Apache [http://www.apache.org]                                   */
/*               Type: Necessary                                      */
*/            Version: 2.4 or above                                   */
/*                                                                    */
/* - Server / Host [http://www.86it.us]                               */
/*             System: Linux Alma 8 or Linux Rocky 8                  */
/*                                                                    */
/**********************************************************************/
/* Copyright (c) 2004 - 2006 by http://www.techgfx.com                */
/*       Graeme Allan - Techgfx                   (goose@techgfx.com) */
/*       Scott Partee - Loki                     (loki@nukeplanet.com)*/
/**********************************************************************/
/* All content and includes from this package is intellectual         */
/* property of TechGFX.com unless stated otherwise. Replication of    */
/* and copyrighted material is a civil and criminal act and           */
/* violations may result in legal action.                             */
/**********************************************************************/
/* See nukeplanet.com for detailed information on the                 */
/* this version of the Platinum Suite                                 */
/* TechGFX: Your dreams, Our imagination                              */
/**********************************************************************/
